<footer class="footer-main">
		<div class="container">
			<div class="row">
        <div class="col lg-12 text-center">
          
                  
                 <!-- <ul class="list-unstyled mt-5">
                      <li><i class="fa fa-phone fa-fw"></i> (202) 277-0216</li>
                      <li><i class="fa fa-envelope-o fa-fw"></i> 
                        <a href="mailto:minhhadc@gmail.com">minhhadc@gmail.com</a>
                      </li>
                  </ul> -->
            
                  <br>
                  <ul class="list-inline">
                      <li>
                          <a href="https://www.linkedin.com/in/khiem-le-070770142/" target="_blank"><i class="fa fa-linkedin fa-fw fa-1x pr-5 pl-5"></i></a>
                      </li>
                      <li>
                          <a href="https://github.com/khiemdc" target="_blank"><i class="fa fa-github fa-fw fa-1x pr-5 pl=3"></i></a>
                      </li>
                      <li>
                          <a href="https://stackoverflow.com" target="_blank"><i class="fa fa-stack-overflow fa-fw fa-1x pr-5 pl-3"></i></a>
                       </li>
                      <li>
                          <a href="https://www.twitter.com/khiemdc" target="_blank"><i class="fa fa-twitter fa-fw fa-1x pr-5 pl-3"></i></a>
                       </li>
                  </ul>
                  
                  <p class="semibold">&copy; Minh-Ha Le</p>
              </div>
          </div>
        </div>
        <div class="container">
            <a routerLink="" class="to-top"><i class="fa fa-chevron-up"></i></a>
        </div>
        
         
      <!--<a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>-->
	</footer>