
/* fonts */
$base-font-size: 16px;
$base-font-family: "Oswald UI", "Oswald WP", "Oswald Regular", "sans-serif";
$base-font-color: #666666;

/* Background Colors */
$primary-color: #00aff0;
$secondary-color: #7fba00;
$light-color: #e4eef2;
$dark-color: #333333;

/* header area */
//$showcase-height: 560px;
//$header-image: '/assets/images/header-background.jpg';
