@import '~sass/variables';
@import '~sass/mixins';


.section-showcase {
    height:560px;
    background: url(/assets/images/ting.jpg) no-repeat bottom center;
    background-size: cover;
    //opacity: 0.8;
    //margin-top: -62px;
    z-index: 3;
}

@media only screen and (max-width: 768px) {
    .section-showcase {
        height:300px !important;
        background: url(/assets/images/ting.jpg) no-repeat bottom center;
        background-size: cover;
        //opacity: 0.8;
        //margin-top: -65px;
    }
}

.showcase-content{
    padding: 50px 0px 30px 0px;
}

.section-light{
    background:$light-color;
    color: #666666; 
    padding: 50px 0 30px 0;
}

/* Headings */

.heading-primary{
    color: $primary-color;
}

/* .heading-primary-a{
    @extend .heading-primary;
    @include add-border(2px, $primary-color, bottom);
}*/



.text-title{
    vertical-align: middle;
    padding-top: 3% !important;
    padding-bottom: 2% !important;
}

.text-title h1 { 
    //font-family: "Raleway", Helvetica, Arial, sans-serif !important; 
    font-family: "acta-display", Georgia, Times New Roman, serif !important; 
    font-size: 65px !important; 
    font-weight: 320;
    line-height: 90px !important;
    letter-spacing: 2px !important; 
    color: #ffffff; 
    text-shadow: 3px 2px 2px #000000;
  }

.sub-title { 
    //font-family: "Raleway", Helvetica, Arial, sans-serif !important; 
    font-family: "europa", Helvetica, Arial, sans-serif !important;
    font-style: normal; 
    font-weight: 300; 
}

.section-heading-c{
    padding-top: 1% !important;
    padding-bottom: 2% !important;
    //font-family: "Open Sans", sans-serif;
    //font-family: "Raleway", Helvetica, Arial, sans-serif !important; 
    //font-family: "europa", Helvetica, Arial, sans-serif; 
    font-family: "acta-display", Georgia, Times New Roman, serif !important; 
    font-style: normal; 
    font-weight: 400; 
    font-size: 28px !important; 
    text-transform: none; 
    text-align: center;
    letter-spacing:2px;
    color: #26282a;
}


@media only screen and (max-width: 768px) {
    .text-title{
        vertical-align: middle;
        padding-top: 3% !important;
        padding-bottom: 2% !important;
    }
    
    .text-title h1 { 
        //font-family: "Raleway", Helvetica, Arial, sans-serif !important; 
        font-family: "acta-display", Georgia, Times New Roman, serif !important; 
        text-align: center;
        font-size: 28px !important; 
        font-weight: 400;
        line-height: 32px !important;
        letter-spacing: 0.5px !important; 
        color: #ffffff; 
        text-shadow: 3px 2px 2px #000000;
      }
    
      .section-heading-c{
        padding-top: 1% !important;
        padding-bottom: 2% !important;
        //font-family: "Open Sans", sans-serif;
        //font-family: "Raleway", Helvetica, Arial, sans-serif !important; 
        font-family: "europa", Helvetica, Arial, sans-serif; 
        //font-family: "acta-display", Georgia, Times New Roman, serif !important; 
        font-style: normal; 
        font-weight: 400; 
        font-size: 24px !important; 
        text-transform: none; 
        text-align: center;
        letter-spacing:0px !important;
        color: #26282a;
    }

    .about-me-text{
        padding: 0 !important;
        font-family: "Times New Roman", Georgia, Times New Roman, serif !important; 
        font-size: 18px !important;
        color:#26282a;
        font-style: normal; 
        font-weight: 300; 
    }  
}

/* Search box */
.search{
    width: 100%;
    

    h3{
        margin-top: 0;
        padding-top: 0;
    }

    input[type=search] {
        height: 40px;
        width: 70%;
        border: 2px solid $primary-color;
        font-size: 24px;
        padding-left: 10px;
        padding-bottom: 5px;
    }

    button{
        border:0;
        background: none;
        padding:0;
        vertical-align: top;
        margin-left:-5px;
    }
}


@media only screen and (max-width: 768px) {
    /* Search box */

.search{
    width: 100%;
    
    h3{
        margin-top: 0;
        padding-top: 0;
    }

    input[type=search] {
        height: 40px;
        width: 60%;
        border: 2px solid $primary-color;
        font-size: 18px;
        padding-left: 0px;
        padding-bottom: 0px;
    }
}
}

.about-me-text{
    padding: 3em 10em 3em 0;
    font-family: "Times New Roman", Georgia, Times New Roman, serif !important; 
    font-size: 24px;
    letter-spacing:0.25px;
    color:#26282a;
    font-style: normal; 
    font-weight: 400; 
}


.message{
    font-size: 24px;
    color: $secondary-color;
}

.video-container{
    width: 100%;
}

.btn-resume-project{
background: #ffffff;
height: 60px !important;
width: 245px !important;
padding: 0;
@include add-border(2px, $primary-color, all);
//@include add-background($primary-color);
border-radius: 50px;
color: $primary-color;
position:absolute;
bottom:0%;
right:15%;
}

@media only screen and (max-width: 768px) {

    .btn-resume-project{
        background: #ffffff;
        height: 60px !important;
        width: 245px !important;
        padding: 0;
        @include add-border(2px, $primary-color, all);
        //@include add-background($primary-color);
        border-radius: 50px;
        color: $primary-color;
        position:relative;
        margin-top: 75% !important;
        }
}        

.btn-resume-project:hover{
background:darken($primary-color,10%) !important;
@include add-border(2px, #ffffff, all);
color: #ffffff !important;
}

.btn-resume-project-text{
    color:$primary-color;
    text-transform: none;
    //font-weight: bold;
    font-size: 20px !important;
    font-family: Roboto;
    line-height: 5px;
    float: left;
    margin-top: 25px;
    }

    .btn-resume-project-text:hover{
        color: #ffffff !important;
}


.fa-7{
padding: 0 !important;
margin: 5px 5px 0 25px !important;
font-size:40px;
color:$light-color;
float: left !important;
}



  
  
.see-more .icon { 
    color: #eaeaea !important;
    margin-left: 7em !important; 
}

.see-more:hover .icon { 
    transform: scale(1.15);
    -ms-transform: scale(1.15);
    -webkit-transform: scale(1.15); 
}

.see-more .icon:hover {
color: #f06023 !important;
transition: ease-out 0.2s;
}

//.see-more { width: 0% !important; }


.cta-button {
    border-radius: 5px;
    //border: 1px solid #F5C453;
    //border: 1px solid #F5C453;
    padding: 1em 1.5em;
    display: inline-block;
    font-size: 14px !important;
    color: #000000;
    margin: 0 1em;
    //margin-top: 1em;
    margin-bottom: 2em;
    min-width: 10em;
    transition: all .25s ease; 
    color:#000009;
    letter-spacing:2px;
    font-weight: 400;
}
    
.cta-button:hover {
    transform: scale(1.125);
    transition: all .5s ease;
    color: #f06023 !important;
}
  
/*    
.arrow-right:hover{
    padding: 0 5px !important;
    font-size: 55px;
    font-weight: 200px;
    margin-top: -30px !important;
    color: #f06023 !important;
}
*/
