<!--Section: Features v.3-->
<section class="section-showcase">
  <div class="container">
  
      <!--Section heading-->
      <br/>
      <div class="section-heading mt-2">PORTFOLIO</div>
      
      <div class="text-title">
      <h1 class="animated slideInUp">Multimedia Specialist,<br>Web Design, UI/UX Design & Graphic Design.</h1>
      </div>
         
      <p data-line-height="60px"><span style="font-size:12px;"><span style="color:#ffffff;"><span style="letter-spacing:1px;"><span style="letter-spacing:2px;"><span class="sub-title">BY MINH-HA LE</span></span></span></span></span></p>
      
      <div class="see-more">
        <a [routerLink]="['/project']" class="icon"><i class="fa fa-long-arrow-down" style="font-size:24px"></i></a>
      </div>
</div>
</section>

<!-- About Hanh thich
<section class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">About me</div>
        <p class="about-me-text">As you are aware my name is Kristine and I am 5 and a half years old girl, who loves reading, writting, drawing, make a scrapbooks, adore cats. My favourite colours are all colours, especially violet and pink. I am not able to sleep by myself yet, so mum will help me with this for a while.</p>
        
      </div>
     </div> 
    </div>
</section>
-->

<!--About section-->
<section class="main">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">About me</div>
          
                <!--Section heading-->
        <h2 class="section-heading-c mt-4 pb-5">Award-Wining Multimedia Specialist</h2>
        <!--Section description-->
        <!--<p class="section-description lead white-text">Experienced in Angular, Typescript, React, NodeJS, RESTful API, HTML5, CSS3, Javascript, JQuery, Handlebars, Java, Python, Django/Python, MySQL, MongoDB, Bootstrap, Materialize, Firebase, Ionic Mobile Framework, Responsive Design, Photoshop, Adobe Premiere, After Effects, Illustrator, InDesign, PageMaker. Knowledgeable in the computer sciences, multimedia as well as digital media.</p>-->
        <!--Grid row-->
        <div class="row features-small pt-4">
    
            <!--Grid column-->
            <div class="col-lg-5 center-on-small-only">
                <img src="assets/images/minhha-sej.jpg" alt="" class="img-fluid z-depth-0">
                <p class="ml-1" style="text-align:center; float: right;">
                  <br />
                  <a routerLink="about" class="cta-button">LEARN MORE<span class="arrow-right">&#8594;</span></a>
                </p>
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-lg-7">
    
                <!--Grid row-->
                <div class="row">
                    <div class="col-2 col-md-1">
                        <i class="fa fa-bank bluea-text"></i>
                    </div>
                    <div class="col-10">
                        <h5 class="feature-title">Profile</h5>
                        <div class="grey-text">
                          - An innovative thinker and always on the look out for new technology. <br>
                          - Excellent problem-solving and a good eye for design, layout and detail.</div>
                    </div>
                </div>
                <!--Grid row-->
    
                <!--Grid row-->
                <div class="row pt-3">
                    <div class="col-2 col-md-1">
                        <i class="fa fa-code bluea-text"></i>
                    </div>
                    <div class="col-10">
                        <h5 class="feature-title">Skills</h5>
                        <div class="grey-text"
                              >- Languages: HTML5, CSS3, Javascript, jQuery, Dreamweaver, Firework, and Flash. <br>
                              - Design: After Effect, Photoshop, Illustrator, InDesign, Adobe Premiere, Illustrator.</div>
                    </div>
                </div>
                <!--Grid row-->
    
                <!--Grid row-->
                <div class="row pt-3">
                    <div class="col-2 col-md-1">
                        <i class="fa fa-money bluea-text"></i>
                    </div>
                    <div class="col-10">
                        <h5 class="feature-title">Experience</h5>
                        <div class="grey-text">
                            - More than 15 years of extensive and intensive experience to produce new, coordinate, and design visual images.<br>
                            - Excellent Web Design, Graphic Design and Video Editing.</div>
                    </div>
                </div>
                <!--Grid row-->
              </div>
            <!--Grid column-->
    
        </div>
        <!--Grid row-->
  
          
        </div>
       </div> 
      </div>
    
  </section>
  <!-- End of About secton -->
  
<!--  Awards Section -->

<section id="testimonials">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading mb-5">Awards</div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-3">
        <div class="profile">
          <div class="pic"><img src="assets/images/mekong.jpg" alt="The Last Untamed River"></div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="quote">
          <b><img src="assets/images/quote_sign_left.png" alt=""></b> <a href="http://www.sej.org/initiatives/winners-sej-9th-annual-awards#Online" target="_blank">Society of Environmental Journalists Award:</a> <strong>First Prize</strong> for Outstanding Online Reporting on the Environment for 2010 multimedia series “The Last Untamed River.”<small><img src="assets/images/quote_sign_right.png" alt=""></small>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-9">
        <div class="quote">
          <b><img src="assets/images/quote_sign_left.png" alt=""></b> <a href="http://www.minonline.com/mins-editorial-design-awards-winners/26/" target="_blank">Min's Editorial & Design Awards:</a> <strong>Honorable Mention 2017</strong> for Special Section/Microsite <a href="http://www.rfa.org/english/news/special/chinacambodia/" target="_blank">"Chinese Clout in Cambodia."</a> <small><img src="assets/images/quote_sign_right.png" alt=""></small>
        </div>
      </div>
      <div class="col-md-3">
        <div class="profile">
          <div class="pic"><img src="assets/images/cambodia-us-flag-awards.jpg" alt="Chinese Clout in Cambodia"></div>
        </div>
      </div>
    </div>      

    <div class="row">
      <div class="col-md-3">
        <div class="profile">
          <div class="pic"><img src="assets/images/goldmine-awards.jpg" alt="A Tribute to Liu Xiaobo, Democracy’s Lion"></div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="quote">
          <b><img src="assets/images/quote_sign_left.png" alt=""></b><a href="http://www.minonline.com/best-of-web-winners-honorees-2017/15/" target="_blank"> Min's Best of the Web Awards:</a> <strong>Honorable Mention 2017</strong> for Multimedia Feature <a href="http://www.rfa.org/english/news/special/goldmine/" target="_blank">"The Wild West: Gold Mining and Its Hazards in Myanmar."</a><small><img src="assets/images/quote_sign_right.png" alt=""></small>
        </div>
      </div>
    </div>      
    <center>
    <a routerLink="project" class="cta-button">WIEW MORE<span class="arrow-right">&#8594;</span></a>
    </center>
  </div>
</section>  
<!--End of Award section -->

<!-- quote -->
<section class="section-quote">
    <div class="container">
    <div class="row">
      <div class="col-md-12">
          <div class="section-heading-b">Feature Work</div>
</div>
</div>


<div class="row">
    <div class="col-md-12">
        
<p>
<br/>
<a class="email-link" href="#"><span style="color:#ffffff;">First Prize for Outstanding Online Reporting</span></a>
</p>

</div>
</div>
<div class="row">
    <div class="col-md-12">
        
<p>
    <br/>
<a class="email-link" href="#"><span style="color:#ffffff;">Min's Editorial & Design Awards</span></a>
</p>

</div>
</div>

<div class="row">
    <div class="col-md-12">
        
<p>
<br/>
<a class="email-link" href="#"><span style="color:#ffffff;">Honorable Mention 2017 for News Coverage</span></a>
</p>

</div>
</div>
<div class="row">
    <div class="col-md-12">
        
<p>
    <br/>
<a class="email-link" href="#"><span style="color:#ffffff;">Honorable Mention 2017 for Multimedia Feature</span></a>
</p>

</div>
</div>
</div>
<a routerLink="project" class="cta-button ml-5">WIEW ALL<span class="arrow-right">&#8594;</span></a>
</section>

<!--some from Projects-->
<section class="project">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading mb-3">Project</div>
          <div class="section-title-divider"></div>
        </div>
      </div>
      <!--Website-->
      <div class="row">
        <div class="col-md-3">
          <a href="http://www.rfa.org/english/news/special/saffron/" target="_blank"> <img class="img-fluid" src="assets/images/saffron2.jpg" alt=""/></a>
          <div class="details">
            <h4>Website:<a href="http://www.rfa.org/english/news/special/saffron/" target="_blank">Myanmar's Saffron Revolution</a></h4>
          </div>
        </div>
        <div class="col-md-3">
          <a href="http://www.rfa.org/english/news/special/liuxiaobo/" target="_blank"> <img class="img-fluid" src="assets/images/liuXiaobo2.jpg" alt=""/></a>       
          <div class="details">
            <h4>Website: <a href="http://www.rfa.org/english/news/special/liuxiaobo/" target="_blank">Nobel Peace Laureate Liu Xiaobo</a></h4>
          </div>
        </div>
        <div class="col-md-3">
          <a href="http://www.rfa.org/english/news/special/vnfishermen/" target="_blank"> <img class="img-fluid" src="assets/images/vn-fishermen2.jpg" alt=""/></a> 
          <div class="details">
            <h4>Website: <a href="http://www.rfa.org/english/news/special/vnfishermen/" target="_blank">Vietnam: The Fishermen and the Sea</a></h4>            
          </div>
        </div>
        <div class="col-md-3">
          <a href="http://www.rfa.org/english/news/special/rohingya-crisis/" target="_blank"> <img class="img-fluid" src="assets/images/Myanmar-Rohingya2.jpg" alt=""/></a> 
          <div class="details">
            <h4>Website: <a href="http://www.rfa.org/english/news/special/rohingya-crisis/" target="_blank">The Rohingya: World's Least-Wanted People</a></h4>                        
          </div>
        </div>
      </div>
    </div>
    <center>
      <a routerLink="project" class="cta-button mt-5">WIEW ALL<span class="arrow-right">&#8594;</span></a>
    </center>
</section>
<!-- End project section in home--> 
        

  