<!--Section: Features v.3-->
<section class="section-showcase">
  <div class="container">
  
      <!--Section heading-->
      <br/>
      <div class="section-heading mt-5">PORTFOLIO</div>
      
      <div class="text-title">
      <h1 class="animated slideInUp">Multimedia Specialist,<br>Web Design, UI/UX Design & Graphic Design.</h1>
      </div>
      
      
          
      <p data-line-height="60px"><span style="font-size:12px;"><span style="color:#ffffff;"><span style="letter-spacing:1px;"><span style="letter-spacing:2px;"><span class="sub-title">BY MINH-HA LE</span></span></span></span></span></p>
      
      
      

      <div class="see-more">
        <a [routerLink]="['/project']" class="icon"><i class="fa fa-long-arrow-down" style="font-size:24px"></i></a>
      </div>
                
  
    
              
  </div>
  
</section>



<section class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">About me</div>
        <p class="about-me-text">As you are aware my name is Kristine and I am 5 and a half years old girl, who loves reading, writting, drawing, make a scrapbooks, adore cats. My favourite colours are all colours, especially violet and pink. I am not able to sleep by myself yet, so mum will help me with this for a while.</p>
        
      </div>
     </div> 
    </div>
  
</section>

<!-- quote -->
<section class="section-quote">
    <div class="container">
    <div class="row">
      <div class="col-md-12">
          <div class="section-heading-b">Feature Work</div>
</div>
</div>


<div class="row">
    <div class="col-md-12">
        
<p>
<br/>
<a class="email-link" href="#"><span style="color:#ffffff;">First Prize for Outstanding Online Reporting</span></a>
</p>

</div>
</div>
<div class="row">
    <div class="col-md-12">
        
<p>
    <br/>
<a class="email-link" href="#"><span style="color:#ffffff;">Min's Editorial & Design Awards</span></a>
</p>

</div>
</div>

<div class="row">
    <div class="col-md-12">
        
<p>
<br/>
<a class="email-link" href="#"><span style="color:#ffffff;">Honorable Mention 2017 for News Coverage</span></a>
</p>

</div>
</div>
<div class="row">
    <div class="col-md-12">
        
<p>
    <br/>
<a class="email-link" href="#"><span style="color:#ffffff;">Honorable Mention 2017 for Multimedia Feature</span></a>
</p>

</div>
</div>
</div>
</section>


  